service sdlog /system/bin/sdlog
    class main
    user root
    disabled
    oneshot

on property:persist.service.sdlog.enable=1
    start sdlog

# bugreport is triggered by developer options
service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot

service mmc-info /system/bin/sh /system/etc/mmc-info.sh
    disabled
    oneshot
    user root
    group root
    seclabel u:r:healthd:s0

on property:sys.mmc-info=1
    start mmc-info
